nav{
    width: 980px;
    margin: auto;
    margin-bottom: 20px;
}
.titleHeader{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.title{
    color: black;
}
.loginInfo{
    text-align: center;
    margin-bottom: 20px;
    margin-left: 700px;
}