nav{
    width: 980px;
    margin-bottom: 20px;
    margin-left: 115px;
}
.titleHeader{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.title{
    color: black;
}
.loginInfo{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 150px;
}