.content-mg{
    margin-left:30%;
    margin-right:30%;
    margin-top:2%;
    margin-bottom:100px;
}
.repImgDiv{
    margin: 10px;
    width: 100px;
    height:auto;
}
.imgOfferHist{
    height:100px;
    width:100px;
    border-radius: 10px;
    margin: 10px;
}
.fs18{
    font-size:18px
}
.fs24{
    font-size:24px
}
.containerOfferHist{
    margin: auto;
    width: 950px;
}
.cardOfferHist{
    width : 900px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.contentsOfferHist{
    margin-top: 35px;
    margin-left: 50px;
}
.offerHistListForm{
    margin-bottom: 30px;
}
.ml-3{
    margin-left: 10px;
}