.mgb-15{
    margin-bottom:15px;
}
.mgt-30{
    margin-top:100px;
}
.mgt-50{
    margin-top:50px;
}
.repImgDiv{
    padding:10px;
    margin-right:25px;
    height:350px;
    width:300px;
}
.repImg{
    width:270px;
    height:350px;
}
.wd50ItemDtl{
    padding:5px;
    height:auto;
    width:65%;
    margin-left: 200px;
}

.table-1 {
    border-collapse: separate;
    border-spacing: 0 5px;
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    border-top : 1px solid;
}

.tbody-1 {
    border-bottom : 1px solid;
    display:block;
}

.tbody-2 {
    border-bottom : 1px solid;
    display:block;
}

/* tr, td{
    text-align: left;
    width : 900px;
} */

.btn-1 {
    background-color: white;
    color: black;
    border: none;
    text-decoration:underline;
}

.btn-2 {
    background-color: white;
    color: black;
    border: none;
    align: right;
    margin-left: 650px;
}

.btn-3 {
    background-color: white;
    color: black;
    border: none;
    align: right;
    margin-left: 650px;
}
.itemDtl{
    width: 970px;
    margin: auto;
}
.text-right{
    text-align: right;
}
.itemDtlExplain{
    background-color: rgb(170, 209, 209, 0.3);
    padding: 20px;
}
.itemDtlImg{
    width: 270px;
    height: 330px;
    border-radius: 10px;
}
.itemFormContainer{
    width: 950px;
    margin: auto;
}

.commentWrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
}
.commentWrapper2{
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: rgb(163, 163, 163, 0.4);
}
.question-1{
    width: 954px;
    height: 100px;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
}
.commentImage{
    width:50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}
.commentCotentContainer{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commentNameText{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.commentCommentText{
    color: black;
    font-size: 16px;
}
.commentRegisterBtn{
    border: none;
    background-color: white;
    float: right;
    margin-right: 30px;
    text-decoration-line: underline;
}
.commentRegisterBtn2{
    border: none;
    background-color: white;
    float: left;
    width: 46px;
    text-decoration-line: underline;
}
.commentQuestionForm{
    margin-top: 100px;
    margin-bottom: 60px;
}
.commentAnswerForm{
    
}