.containerItemMng{
    width: 950px;
    margin: auto;
}
select{
    margin-right:10px;
}
.orderByItemMng{
    margin: 10px;
}
.form-control-main-itemMng{
    text-align: center;
    margin-top: 30px;
}

