.commentWrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
}
.commentWrapper2{
    margin-left: 50px;
    margin-bottom: 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
    background-color: rgb(163, 163, 163, 0.4);
}
.question-1{
    width: 954px;
    height: 100px;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 16px;
}
.commentImage{
    width:50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}
.commentCotentContainer{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.commentNameText{
    color: black;
    font-size: 16px;
    font-weight: bold;
}
.commentCommentText{
    color: black;
    font-size: 16px;
}
.commentRegisterBtn{
    border: none;
    background-color: white;
    float: right;
    margin-right: 30px;
    text-decoration-line: underline;
}
.commentRegisterBtn2{
    border: none;
    background-color: white;
    float: left;
    width: 46px;
    text-decoration-line: underline;
}
.commentQuestionForm{
    margin-top: 100px;
    margin-bottom: 60px;
}