.card{
    width: 263px;
    height: 450px;
    padding: 5px;
    margin-right: 45px;
    margin-bottom: 30px;
}
.mainRow{
    text-align: center;
    margin: auto;
}
.mainContainer{
    width: 950px;
    margin: auto;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
.col{
    margin: auto;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.card-body{
    padding: 30px;
    width: 250px;
    height: 10px;
}
a{
    text-decoration: none;
}