.card{
    width: 263px;
    height: 420px;
    padding: 5px;
    margin-right: 45px;
    margin-bottom: 30px;
    text-align: left;
}
.mainRow{
    text-align: center;
    margin: auto;
}
.mainContainer{
    width: 950px;
    margin: auto;
    /* font-family: 'Noto Sans KR', sans-serif; */
}
.col{
    margin: auto;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.card-body{
    width: 250px;
    height: 10px;
}
a{
    text-decoration: none;
}
.card-title{
    height: 57px;
    color: black;
    margin-bottom: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.card-text{
    height: 30px;
    color: black;
    margin-bottom: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pagenation {
    margin-top: 20px;
    margin-left: 260px;
    text-align: center;
}